/* Print Styles */
body * {
    visibility: hidden;
}

table, table * {
    visibility: visible;
}

table {
    border: 1px solid black;
    width: 100%;
}

table th, table td {
    border: 1px solid black;
    padding: 0.5rem;
}